  <ul class="nav nav-pills">
    <li style="float:right"> <%= link_to t('layouts.register'), new_user_path %></li>
    <li style="float:right"> <%= link_to t('layouts.login'), new_user_session_path %></li>
  </ul>